<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDYNHzHcMnrJ_won_KVTSmtepTnGKZ42BM</string>
	<key>GCM_SENDER_ID</key>
	<string>955251471854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>n.quang.dothithongminhUser</string>
	<key>PROJECT_ID</key>
	<string>dothithongminhkl</string>
	<key>STORAGE_BUCKET</key>
	<string>dothithongminhkl.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955251471854:ios:420bca4d1b07bb3c50caff</string>
</dict>
</plist>